@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;500;700&display=swap');

body {
    background-color: #222831;
    color: whitesmoke;
}

h1 {
    color: #c1a57b;
    padding: 2rem;
}

h5 {
    margin: .5em;
}

hr {
    border-color: #16001e;
    border-style: dotted;
    border-top: none;
    border-width: 5px;
}

li {
    padding: 5px;
    margin-left: 1em;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 300;
}

ul {
    list-style: square;
    padding: 0 0 0 20px;
}

.container-head {
    background-color: #30475e;
    /* height: 300px; */
    /* width: 1fr; */
    border: solid;
    border-width: 5px;
    margin: 20px;
    padding: 24px;
}

.container-root {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: auto;
    vertical-align: baseline;
}

.container-r1c1 {
    border-style: solid;
    border-color: white;
    border-width: 5px;
    background-color: #c1a57b;
    display: inline-block;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 300;
    height: 200px;
    margin: 10px;
    padding: 10px;
    width: 250px;
    word-break: break-all;
    word-wrap: break-word;
    text-align: justify;
    text-justify: inter-word;
    vertical-align: top;

}
.container-r2c1 {
    border-style: dotted;
    border-color: white;
    border-width: 5px;
    background-color: #30475e;
    display: inline-block;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 300;
    height: 200px;
    margin: 10px;
    padding: 10px;
    width: 250px;
    word-break: break-all;
    word-wrap: break-word;
    text-align: justify;
    text-justify: inter-word;
    vertical-align: top;
}

.container-r3c1 {
    border-style: dashed;
    border-color: #c1a57b;
    border-width: 5px;
    background-color: #ececec;
    color: #30475e;
    display: inline-block;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 300;
    height: 200px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    word-break: break-all;
    word-wrap: break-word;
    text-align: justify;
    text-justify: inter-word;
    vertical-align: top;
}

.container-r1c2 {
    border-style: double;
    border-color: #ececec;
    border-width: 5px;
    background-color: #c1a57b;
    display: inline-block;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 300;
    height: 200px;
    margin: 10px;
    padding: 10px;
    width: 300px;
    word-break: break-all;
    word-wrap: break-word;
    text-align: justify;
    text-justify: inter-word;
    vertical-align: top;

}
.container-r2c2 {
    border-style: solid;
    border-color: #fcac0c;
    border-width: 5px;
    background-color: #c1a57b;
    display: inline-block;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 300;
    height: 200px;
    margin: 10px;
    padding: 10px;
    width: 400px;
    word-break: break-all;
    word-wrap: break-word;
    text-align: justify;
    text-justify: inter-word;
    vertical-align: top;
}

.container-r3c2 {
    border-style: solid;
    border-color: #c1a57b;
    border-width: 5px;
    background-color: #16001e;
    display: inline-block;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 300;
    height: 600px;
    margin: 10px;
    padding: 10px;
    width: 95%;
    word-break: break-all;
    word-wrap: normal;
    text-align: justify;
    text-justify: inter-word;
    vertical-align: top;
}

.content {
    margin: 0;
    padding: 0;
    text-align: justify;
    text-justify: inter-word;
}

.content-lorem {
    font-family: roboto, sans-serif;
    font-weight: 100;
    padding: 2em;
    line-height: 3em;
    text-align: justify;
    text-indent: 2em;
}

.content-card-heading {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
}

.content-card-listing {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 0.8 em;
    font-weight: 300;
}
.sign {
    margin-right: 0;
}