@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

body {
    background-color: #222831;
    color: whitesmoke;
}

p {
    font-family: roboto, sans-serif;
    font-weight: 100;
    padding: 2em;
    line-height: 3em;
    text-align: justify;
    text-indent: 2em;
}

h1 {
    color: #c1a57b;
    padding: 2rem;
}